In [1]:
#GRADUATES ADMISSION PREDICTION
import pandas as pd
df = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/datasets/2260131/3787929/admission_data.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20220715%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20220715T091033Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=47b4b9fca71994704cd04a4fb616e8e3f1c2b582d146d5b6b0926b491262dfacbe5281dbc507627ca1a06d6c3efac0582f16e8f2775296a13e78e0d58be6cb0c269d6610c1a58625a7d7c0e3cbeaa3a94bf1f5cb1a2d45263bce76ea520b0862bde5cd0e901813863631d7eaaa3662220a33d5454b7c2ad5c9907dcf22fdd7a640f73a196ff91e070b8281f608240c0b36509f5f2e8ac17bcb2f9104f65ef14a6dfaf4c672b0d7a504e1eb2c35b078c06ead32e96a9716bfcd215469b2f8903ce1419a916e2dcb831bc34120c64f286b251aaf9f21c1627611ebf37f61edbc70219a4960db847b8cb6d9a9ee7bfbbcaec309e2896b7ec36702642188cc872835')
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [2]:
#Dividing the data into i/p and o/p
x = df.iloc[:,0:7].values #INPUT
y = df.iloc[:,7].values #OUTPUT

In [3]:
#Training,testing,splitting of data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [4]:
#NORMALISATION IS NOT REQUIRED AS SUCH IN THIS MODEL

In [5]:
#selection of model
from sklearn.linear_model import LinearRegression 
model = LinearRegression()

In [6]:
#fitting the model
model.fit(x_train,y_train)

LinearRegression()

In [7]:
#prediction of model
y_pred = model.predict(x_test)
y_pred

array([0.65975096, 0.83294571, 0.77782128, 0.87880993, 0.60173406,
       0.64502738, 0.53132327, 0.69353416, 0.52531517, 0.74728773,
       0.612947  , 0.70978457, 0.62315467, 0.75359963, 0.88362883,
       0.51045588, 0.82256853, 0.64583472, 0.76625281, 0.53339105,
       0.51516376, 0.72205954, 0.52044417, 0.92038429, 0.83305155,
       0.72521724, 0.70065949, 0.50954091, 0.58288457, 0.59567607,
       0.72610563, 0.48480355, 0.65293521, 0.839799  , 0.56549766,
       0.59542651, 0.84407308, 0.86619206, 0.59104477, 0.65947534,
       0.66910836, 0.90058613, 0.86561785, 0.72146196, 0.77348686,
       0.80604453, 0.96926279, 0.84984464, 0.64109529, 0.65579329,
       0.6318989 , 0.63609964, 0.61280262, 0.80052397, 0.69447591,
       0.85471517, 0.52550084, 0.86126331, 0.60131499, 0.63666918,
       0.49877751, 0.90641769, 0.61870867, 0.94371373, 0.72006847,
       0.61656329, 0.73579791, 0.84336336, 0.52019237, 0.77746109,
       0.89505028, 0.78430342, 0.69699337, 0.64023465, 0.7891092 ,
       0.91555411, 0.75301271, 0.72914241, 0.55944709, 0.66325412,
       0.59555374, 0.85912771, 0.5550105 , 0.67089549, 0.7696652 ,
       0.55541526, 0.81539882, 0.61971643, 0.45935232, 0.66033316,
       0.71840213, 0.78455576, 0.65810914, 0.70618604, 0.62722798,
       0.94178263, 0.54624893, 0.53802966, 0.60103645, 0.61509302,
       0.93122381, 0.72541488, 0.96450459, 0.62026028, 0.71152104,
       0.6074989 , 0.71542991, 0.85612206, 0.70279057, 0.70531259,
       0.46582737, 0.5976422 , 0.64569337, 0.54406775, 0.5871687 ,
       0.85049004, 0.5315997 , 0.94655524, 0.82362017, 0.88625829,
       0.65920833, 0.7588887 , 0.88531575, 0.84420713, 0.61306626])

In [8]:
y_test

array([0.64, 0.85, 0.8 , 0.91, 0.68, 0.54, 0.54, 0.65, 0.52, 0.79, 0.65,
       0.74, 0.64, 0.79, 0.89, 0.43, 0.81, 0.73, 0.8 , 0.58, 0.57, 0.74,
       0.6 , 0.93, 0.88, 0.67, 0.7 , 0.57, 0.48, 0.64, 0.69, 0.47, 0.57,
       0.87, 0.39, 0.53, 0.84, 0.89, 0.63, 0.7 , 0.72, 0.86, 0.91, 0.75,
       0.74, 0.76, 0.96, 0.81, 0.6 , 0.62, 0.69, 0.68, 0.59, 0.8 , 0.71,
       0.78, 0.69, 0.89, 0.67, 0.58, 0.44, 0.89, 0.53, 0.92, 0.66, 0.73,
       0.52, 0.86, 0.54, 0.72, 0.92, 0.55, 0.75, 0.73, 0.85, 0.91, 0.75,
       0.71, 0.54, 0.68, 0.62, 0.88, 0.59, 0.74, 0.8 , 0.63, 0.77, 0.65,
       0.57, 0.7 , 0.76, 0.78, 0.71, 0.73, 0.73, 0.95, 0.64, 0.53, 0.48,
       0.64, 0.91, 0.72, 0.96, 0.67, 0.75, 0.59, 0.72, 0.85, 0.71, 0.77,
       0.49, 0.68, 0.71, 0.5 , 0.57, 0.86, 0.38, 0.94, 0.79, 0.93, 0.74,
       0.78, 0.89, 0.86, 0.49])

In [9]:
import joblib
joblib.dump(model,'ADMISSION PREDICTION')

['ADMISSION PREDICTION']